*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdfdfd;
}

.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    border: 2px solid rgb(201, 5, 5);
}


.border-shadow {
    padding: 15px;

    border: 1px solid rgb(140, 140, 140);
    border-radius: 5px;

    box-shadow: 0px 2px 3px rgb(140, 140, 140);
}

#page {
    padding: 5px;
}

/*---------------CALCULATOR----------------*/

#calcolator {
    margin: 35px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-button {
    position: absolute;
    z-index: 50;

    font-size: 1.2em;
    color: #FFFFFF;

    background-color: #348099;
    
    padding: 2px;

    top:10px;
    right: 10px;

    border-radius: 50px;
    width: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

/*------------------Form-------------------*/


#data {
    position: relative;
    margin-top: 20px;
    width: 100%;
    min-width: 215px;

    color: rgb(0, 0, 0);

    background-color: #E0E0E0;
}

.form-input {
    margin-bottom: 20px;
}

.form-input input {
    padding: 2px 6px;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
} 
.buttons-container .button {
    margin-right: 10px;
} 

.buttons-container .button:last-of-type {
    margin-right: 0px;
} 

.button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #757575;
    background-color: #FFFFFF;

    cursor: pointer;
}

.button:hover {
    background-color: #F5F5F5;
}

/*------------------Table------------------*/

#workout-table {
    width: 100%;
    max-width: 400px;
    height: 240px;
    margin-top: 20px;
    display: block;
    overflow-x: auto;
    border-spacing: 0;
}

#workout-table tbody {
  white-space: wrap;
}

#workout-table th,
#workout-table td {
  min-width: 200px;
  border: 1px solid rgb(140, 140, 140);
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
  text-align: center;
}

#workout-table th:last-child,
#workout-table td:last-child {
  border-right-width: 0;
}

#workout-table tr:last-child td {
  border-bottom-width: 0;
}

.close {

    padding: 0px 0px;
    max-width: 20px;

    color: rgb(255, 0, 0);

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    cursor: pointer;


}

.close:hover {
    filter: blur(0.04em);
}

/*------------------Table------------------*/

@media only screen and (max-width: 460px) {

    #workout-table {
        max-width: 300px;
    }
    #workout-table th {
        min-width: 40px;
    }
    #workout-table td {
        min-width: 40px;
    }

}

@media only screen and (min-width: 500px) {

    #data {
        width: 500px;
    }
    .border-shadow {
        padding: 15px 60px;
    }
}