*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bordo {
    border: 1px solid black;
}

.border-shadow {
    padding: 15px;

    border: 1px solid rgb(140, 140, 140);
    border-radius: 5px;

    box-shadow: 0px 2px 3px rgb(140, 140, 140);
}

#page {
    padding: 20px;
    height: 1000px;
}

#calcolator {
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------------Form-------------------*/


#data {
    margin-top: 20px;
}

.form-input {
    margin-bottom: 20px;
}

.form-input input {
    padding: 2px 6px;
}

#add {
    padding: 5px;
}

/*------------------Table------------------*/

#workout-table {
    width: 100%;
    max-width: 300px;
    height: 240px;
    margin-top: 20px;
    display: block;
    overflow-x: auto;
    border-spacing: 0;
}

#workout-table tbody {
  white-space: nowrap;
}

#workout-table th,
#workout-table td {
  border: 1px solid rgb(140, 140, 140);
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
  text-align: center;
}

#workout-table th:last-child,
#workout-table td:last-child {
  border-right-width: 0;
}

#workout-table tr:last-child td {
  border-bottom-width: 0;
}

/*------------------Table------------------*/